@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

* {
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

html,
body {
  padding: 0;
  margin: 0;
    font-family: "Inter","sans-serif";
  scroll-behavior: smooth;
}

@media (min-width: 768px) {

  .dark #projects:hover>#card:not(:hover) {
    opacity: 0.2;
  }
  #projects:hover>#card:not(:hover) {
    opacity: 0.4;
  }
  #posts:hover>#card:not(:hover) {
    opacity: 0.2;
  }
}